@page "/counter"
@using BlazorApp.Shared;
@using static System.Net.WebRequestMethods;
@inject HttpClient Http


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


<button class="btn btn-primary" @onclick="Create">Click me</button>

@code {
    private TestAddress testAddress = new TestAddress()
        {
            AddressLine1 = "Sahrayıcedit",
            AddressLine2 = "İnönü",
            City = "İstanbul",
            StateProvince = "Kadıköy",
            CountryRegion = "US",
            PostalCode = "34123",
            guid = Guid.NewGuid(),
            ModifiedtDate = DateTime.Now

    };
    private async Task Create()
    {
        try
        {
            var result = await Http.PostAsJsonAsync("/api/TestAddressCreate", testAddress);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
